.wrapper-container {
  position: relative;
  left: 0;
  width: 100vw;
  height: 90vh;
  margin: 0;
}
.solid-background-container {
  height: 15vh;
  margin: auto;
  background-color: #f8cd2f;
}
.blush-background-container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at top, #f8cd2f, #f8cd2f 15%, #fff 40vw);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 67vw;
  margin: 0 auto;
  padding: 10%;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
}

#about-us-header {
  letter-spacing: 3px;
  line-height: normal;
  font-weight: 300;
  font-size: 1.5rem;
}

// Media Queries

$breakpoint-tablet: 768px;
$breakpoint-iphone6plus: 414px;
$breakpoint-iphone6: 375px;
$breakpoint-iphone5: 320px;

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
