$yellow: #fccf2b;

.solid-background {
  background-color: $yellow;
  color: black;
}

.pill-button:hover,
.pill-button:focus {
  outline: 0;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(252, 207, 44, 0.6);
}

.pill-button {
  border: 2px solid $yellow;
  border-radius: 32px;
  width: 160px;
  height: 40px;
  display: inline-block;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 40px;
}

a.pill-button,
a.pill-button:visited,
a.pill-button:hover {
  text-decoration: none;
  color: black;
}
